@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

::ng-deep #testDiv img {
    width: 300px!important;
    margin: 10px;
}

::ng-deep div {
    text-align: center!important;
    color: white;
}
.row{
    padding: 20px;
}
hr{
  color: #989898;
 
  height: 2px;
}

h2{
    font-size: 17px;
    margin-top: 5px;

}
h1 ,h2{
    text-align: center;
    color: whitesmoke;
}

::ng-deep li {
    background: #171D1C;
    width: 30%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    color: #eee;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    list-style: none;
}

::ng-deep li:hover {
    background: #5E5E5E;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#btn {
    background: #334a46;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    color: #eee;
    padding: 10px;
}

table{
    width: 80%;
    margin: 0 auto 0 auto;
}
table img{
    width: 200px;
}

@media only screen and (max-width: 980px) {
    ::ng-deep li {
        width: 100%;
    }
    button{
        margin: 10px;
    }
    table img{
        width: 100px;
    }
    table{
      width: 100%;
      font-size: 14px;
    }
}



h2 {
  font-family: "Luckiest Guy", cursive;
    margin: 0;
    font-size: 40px;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    span {
      transform: scale(0.9);
      display: inline-block;
    }
    span:first-child {
      animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
        alternate;
    }
    span:last-child {
      animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
        infinite alternate;
    }
  }
  
  @keyframes bop {
    0% {
      transform: scale(0.9);
    }
    50%,
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bopB {
    0% {
      transform: scale(0.9);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-3deg);
    }
  }
  